.content-wrapper{
    width: 100%;
    height: fit-content;
    min-height: 500px;
}
.container-chat{
padding: 0px 16px 16px 16px;
  margin: 84px 20px 20px;
}
.chat-search-box {
    border-radius: 3px 0 0 0;
    // border-bottom: 1px solid var(--details);
    background: var(--details);
    padding: 15px 30px;
    height: 95px;
    display: flex;
    align-items: center;
}

.chat-search-box .input-group .form-control {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 0px;
}

.chat-search-box .input-group .form-control:focus {
    box-shadow: none;
    border: 3px solid var(--details);
  }
.btn-chats {
    display:none;
}

.users-container {
    position: relative;
    padding: 0 0 1rem;
    border-right: 1px solid var(--details);
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
}
.users {
    padding: 0;
    height: 50vh;
}
.person{
    border-bottom: 1px solid var(--details);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.name-time{
    margin: 0;
    width: 100%;
}

.users .person {
    position: relative;
    width: 100%;
    padding: 10px 1rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.users .person:hover {
    background-color: var(--primary);
    border-bottom: 1px solid var(--primary);
    transition: .5s ease-in-out;
}

.users .person.active-user {
    background-color: #ffffff;
}

.users {
    border-bottom: 0;
}

.users .person .user {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.users .person .user img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    // border: 4px solid var(--details);
}

.users .person p.name-time {
    font-weight: 600;
    font-size: .85rem;
    display: inline-block;
}

.users .person p.name-time .time {
    font-weight: 400;
    font-size: .7rem;
    text-align: right;
    color: #8796af;
}

.selected-user {
    width: 100%;
    padding: 15px;
    min-height: 64px;
    line-height: 64px;
    // border-bottom: 1px solid var(--details);
    border-radius: 0 3px 0 0;
    background: #e9cf92;
}

.selected-user span.name {
    font-weight: 700;
    padding: 0 10px;
}
.selected-user .user-selected-data{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chat-container {
    position: relative;
    padding: 1rem;
    height:50vh;
}

.chat-container li.chat-left,
.chat-container li.chat-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 20px;
}

.selected-user img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 100%;
    margin-right: 10px;
    border:5px solid var(--details);
}
.chat-container li.chat-right {
    justify-content: flex-end;
    align-items: flex-end;
}

.chat-container li .chat-text {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: var(--secondary-light);
    font-weight: 300;
    line-height: 150%;
    position: relative;
}
.chat-text{
    width: 50%;

}

.chat-container li.chat-right > .first-row .chat-text {
    text-align: right;
    background: var(--primary-ligth);
}
.first-row{
    display: flex;
    width:100%;
}
.chat-date{
    font-size: 0.75rem;
    margin: 2px 5px;
}
.chat-container li.chat-right > .first-row {
    flex-direction:row-reverse;
}

.chat-container li .chat-hour {
    padding: 0;
    margin-bottom: 10px;
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5px;
}

.chat-container li .chat-hour > span {
    font-size: 16px;
    color: #9ec94a;
}

.chat-box {
    overflow:auto;
    height: 100%;
}
.chat-form {
    padding: 15px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.card-chat {
    border: 1px solid var(--details);
    background: var(--neutral-ligth);
    border-radius: 2px;
    margin: 2rem;
    box-shadow: none;
}
.chat-container .form-control:focus {
    box-shadow: none;
    border: 1px solid var(--details);
}

.chat-active .button{
    padding: 0.8em 0.8em;
    background: var(--primary);
    border-radius: 8px;
    font: var(--button);
    color: var(--main-text);
    text-decoration: none !important;
    margin: 0px 4px 8px;
    text-align: center;
    border: 0px;
    width: max-content;
  }
  .chat-writer{
      display: flex;
      justify-content: stretch;
      margin: 0px;
      background: var(--details);
      padding:15px;
    //   border-top:1px solid var(--details);
  }


  @media (max-width: 767px) {
    .container-chat {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        border: 0;
        background: none;
        padding: 0;
        margin: 84px 30px 20px;
    }
    .btn-chats {
        display: block;
        border: 0;
        background: none;
        color: var(--accents);
    }
    .chat-writer{
        margin: 0;
    }
    .card-chat{
        margin:0;
        border:0;
    }
    .users-container{
        border:0;
        
    }
    .chat-active{
        flex-direction:column;
        justify-content: stretch;
        
    }
    .show-active-chat, .show-user-list{
        display:flex;
        border: 1px solid var(--details);
        border-radius:8px
    }
    .active-chat, .user-list {
        display: none;
    }
    .selected-user {
        display: flex;
        justify-content: stretch;
        align-items: center;
    }
    .chat-container{
        flex-grow:1;
        height: 47vh;
    }
   
    .selected-user .user-selected-data {
        justify-content: stretch;
        align-items: center;
        flex-direction: row-reverse;
        flex-grow: 1;
    }
    .selected-user span.name {
        flex-grow: 1;
        text-align: center;
    }

    .chat-container li.chat-left,
    .chat-container li.chat-right {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .chat-container li img {
        width: 32px;
        height: 32px;
    }
    .chat-container li.chat-left .chat-avatar {
        margin: 0 0 5px 0;
        display: flex;
        align-items: center;
    }
    .chat-container li.chat-left .chat-hour {
        justify-content: flex-end;
    }
    .chat-container li.chat-left .chat-name {
        margin-left: 5px;
    }
    .chat-container li.chat-right .chat-avatar {
        order: -1;
        margin: 0 0 5px 0;
        align-items: center;
        display: flex;
        justify-content: right;
        flex-direction: row-reverse;
    }
    .chat-container li.chat-right .chat-hour {
        justify-content: flex-start;
        order: 2;
    }
    .chat-container li.chat-right .chat-name {
        margin-right: 5px;
    }
    .chat-container li .chat-text {
        font-size: .8rem;
    }
}