@media screen and (max-width:960px){
    
    .chat-container{
        display:flex;
        position: absolute;
        width: 90%;
        flex-direction: column;
        top: 64px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        padding: 32px;
        margin: 0px 20px 0px 20px;
        
    }
    .chat-container.active{
        left: 0px;
        transition: all 0.5s ease;
        z-index: 10;
        padding: 16px;
        margin: 0px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: var(--neutral-ligth);
        border-radius: 8px;
        border: 1px solid var(--details)
    }
    
   
}

