:root{
    --secondary: #FBD50F;
    --details: #E0A926;
    --primary: #A5DD81;
    --accents: #2E9414;
    --warning : #C85636;
    --neutral: #F2F2F2;
    --neutral-ligth: #ffffff;
    --main-text : #3b3b1c;
}
// <'font-style'> || <'font-variant'> || <'font-weight'> ]? <'font-size'> [ / <'line-height'> ]? <'font-family'> ]
:root{
    --general-font:'Poppins';
    --title:700 24px 'Poppins';
    --button:400 18px 'Poppins';
    --button-hover: 700 18px 'Poppins';
    --logo:700 24px 'Poppins';
    --text:700 24px 'poppins';
}


