/* 
    General Styles
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s all;
  opacity: 0;
}
.loading.show {
  opacity: 1;
}
.loading .spin {
  border: 3px solid hsla(185, 100%, 62%, 0.2);
  border-top-color: #3cefff;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
}
@keyframes spin {
to {
  transform: rotate(360deg);
}
}            


.logo{
  font: var(--logo);
  color: var(--primary);
  text-shadow:
 -1px -1px 0 var(--main-text),  
  1px -1px 0 var(--main-text),
  -1px 1px 0 var(--main-text),
   1px 1px 0 var(--main-text);
  justify-self: start;
  margin: 0px 0px 0px 20px;
 
  cursor: pointer;
}

.formTitle{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-left: 4px;
  text-align: left;
}
h6{
  text-align: center;
}

body{
    font-family: var(--general-font);
    color: var(--main-text);
    margin-top: 0px;
    background-image: url('../img/background2.png');
    background-position: center;

}
 h1{
     font: var(--title);
     text-align: center;
     margin: auto;
 }

 p{
     font: var(--text)
    }

.App-box{
  padding: 16px;
  margin: 84px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-ligth);
  border-radius: 8px;
  border: 1px solid var(--details)

}

@media (min-width: 722px) {
  .App-box{
    width:60%;
    margin: 84px auto 20px;
  }

}

.button-small {
  padding: 2px 4px;
  margin: 4px 2px;
  width: 20%;
  display: block;
}
.button{
  padding: 0.8em 0.8em;
  background: var(--primary);
  border-radius: 8px;
  font: var(--button);
  color: var(--main-text);
  text-decoration: none !important;
  margin: 8px 4px;
  text-align: center;
  border: 0px;
  width: 100%;
}

.button-notifications-on, .button-notifications-off {
  position: relative;
  padding: 0.6em 0.6em;
 
  border-radius: 8px;
  font: var(--button);
  border: 0px;
  text-decoration: none !important;
  margin-right: 12px;
}

.button-notifications-on {
  background: var(--primary);
}

.button-notifications-off {
  background: rgb(179, 178, 178);
}

.bell-icon-on {
  color: var(--secondary-light);
  font-size: 19px;
}

.bell-icon-off {
  color: #f9f9f9;
  font-size: 15px;
}
   a:hover{
    color: var(--main-text);
   } 

  .button:hover{
    border: 0px;
    
    transition: 250ms ease-out;
  }
  .primary:hover{
    background-color: var(--primary-ligth);
    box-shadow: var(--primary-shadow) 0px 6px 8px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .primary:active{
    background-color: var(--primary-dark);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  }
  .secondary:hover{
    background-color: var(--secondary-light);
    box-shadow: var(--secondary-shadow) 0px 6px 8px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .secondary:active{
    background-color: var(--secondary-dark);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  }
  .alert:hover{
    background-color: var(--warning-light);
    box-shadow: var(--warning-shadow) 0px 6px 8px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .alert:active{
    background-color: var(--warning-dark);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  }

  .primary{
    background-color: var(--primary);
  }

  .secondary{
    background-color: var(--secondary);
  }

  .alert{
    background-color: var(--warning);
  }
.singup-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 32px 32px;
    position: static;
    width: 100%;
    height: 619.46px;
    left: 0px;
    top: 92.54px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    margin: 88px 0px 24;
}

.image-box{
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.signup-header{
  display: flex;
  align-items: center;
  margin: 0px 0px 24px 0px;
}

.piña-partida-sinnombre{
  position: static;
  width: 35%;
  min-width: 45px;
  transform: rotate(
-20deg);
}

.question-text, .title{
  text-align: left;
  font: var(--title);
  color: var(--main-text);
}
/*General classes*/
.bg-lightgray{
  background-color: #f9f9f9;
}
.border-orange{
  border: 1px solid var(--details);
}
.bg-prin{
  background-color: var(--main-text);
}
.text-prin{
  color: var(--main-text);
}
/*Form*/
form{
  display: grid;
  grid-gap: 16px;
  width: 100%;
}
input, input[type="text"]
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select, .form-control, .input-group-text{
  width: 100%;
  padding: 0.8em;
  line-height: 1.4;
  background-color: var(--neutral-ligth);
  border: 1px solid var(--details);
  border-radius: 8px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-size: 0.9rem;
  margin-bottom: 8px;
}
.form-control{
  border-right: 0,5px;
}
.input-group-text{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 17px;
  color: var(--main-text);
}

input:focus {
  outline: 0;
  border: 3px solid var(--details);
}
input:focus + .input-icon i {
  color: var(--details);
}
input:focus + .input-icon:after {
  border-right-color: var(--details);
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label,
select{
  text-align: center;
  float: left;
  border-radius: 8px;
}
input[type="radio"] + label:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
input[type="radio"] + label:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  padding: 0.8em;
  line-height: 1.4;
  background-color: var(--neutral-ligth);
  border: 1px solid var(--details);
  border-radius: 8px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-size: 0.9rem;
}
input[type="radio"] + label i {
  padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before, 
select:focus,
select:active {
  background-color: var(--details);
  color: var(--main-text);
  border-color: var(--secondary);
}


input:checked + label:after {
  opacity: 1;
}
select {
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
select:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
select:focus,
select:active {
  outline: 0;
}
select option {
  background-color: var(--main-text);
  color: #fff;
}
.input-group {
  margin-bottom: 1em;
  zoom: 1;
  border-radius: 8px;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
  border-radius: 8px;
}
.input-group:after {
  clear: both;
  border-radius: 8px;
}
.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/*Perfil*/

.little-profile .pro-img .profile-circle {
  width: 128px;
  height: 128px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100%
}
.card-top-banner {
  height: 100px;
  background-color: var(--details);
}
.font-size-small {
  font-size: 0.6em;
}

img{
  object-fit: contain;
}

.card-result{
  margin: 80px 16px 16px;
  border: 1px solid var(--details);
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  
}

.card-footer{
  border: none;
  background-color: var(--neutral-ligth);
  
}

.card-body{
  padding: 16px;
  display: flex;
  text-align: center;
  background: linear-gradient(to left, var(--details), var(--neutral-ligth), var(--details)) left bottom var(--neutral-ligth) no-repeat;
  background-size: 100% 1px;
  flex-direction: column;
  align-items: center;
  min-height: 370px;
  grid-gap: 16px;
}

@media (min-width: 722px) {
  .card-result{
    width:50%;
    margin: 84px auto 20px;
  }

}

.text-description{
  font: var(--text);
  color: var(--main-text);
  border: 1px solid var(--details);
  padding: 8px;
}

.notifications-wrapper {
  height: 200px;
  width: 300px;
  display: block;
  position: absolute;
  right: 10px;
  top: 57px;
  background-color: #f9f9f9;
  border: 1px solid var(--details);
  overflow: auto;
  z-index: 100;
  border-radius: 5px 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.notifications-wrapper::-webkit-scrollbar {
  width: 1em;
}

.notifications-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.notifications-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  outline: var(--secondary-shadow);
}

.notifications-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.notifications-ul {
  
  font-family: var(--general-font);
  font-size: 0.9rem;
  
}
.li {
  background-color: var(--primary)
}
.li-seen {
  background-color: #f9f9f9;
}

.inside-ul {
  display: block;
}

.outside-ul {
  display: none;
}

@media screen and (max-width:960px) {
  .inside-ul {
      display: none;

  }

  .outside-ul {
    display: block;

  } 
}


