.box-notfound{
    display: flex;
    margin: 32px;
    align-items: center;
    padding: 24px;
}


.grey-box{
    background: var(--neutral);

}





.button-checked{
    background-color: var(--main-text);
    color: #fff;
    border-color: var(--main-text);
}