.box-notfound{
    display: flex;
    margin: 96px 32px 32px;
    align-items: center;
    padding: 24px;
    justify-content: center
}


.grey-box{
    background: var(--neutral);

}

.button-checked{
    background-color: var(--main-text);
    color: #fff;
    border-color: var(--main-text);
}


.card-head{
    display: flex;
    display: flex;
    justify-content: space-around;
}


.swiper-container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}